*{
    box-sizing: border-box;
    font-family: Helvetica, Geneva;
}

body{
    margin: 0%;
}

nav{
    width: 100%;
    background-color: gray;
    padding: 2%;
    font-size: 1.1rem;
}

nav > a{
    margin: 0%;
    padding: 1.2%;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav>a:hover{
    color: black;
}

a.active{
    color: black;
}

header{
    font-style: italic;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 1.4rem;
}

header > hr{
    border: 2px solid rgb(173, 172, 172);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.11);
}

header > p{
    color: gray;
    font-weight: light;
}

main{
    max-width: 98%;
    margin: auto;
    border: 2px solid black;
}

.narrow-main{
    max-width: 50%;
    margin: auto;
}

main > form{
    padding: 2%;
}

form li{
    padding: 1.2%;
}

form p{
    display: inline-block;
    margin: 0%;
    padding: 0%;
}

.label{
    margin: 0%;
    width: 40%;
}
.field{
    margin: 0%
    width: 50%;
}

.field  input{
    display: block;
    width: 100%;
}

input[type="submit"]{
    padding: 1.4%:
    background-color: white;
    color: black;
}

input[type="submit"]:hover{
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0%;
    font-size: 1.1rem;
}
tr{
    padding: 10%;
    margin: 5%;
}

td, th{
    text-align: left;
    border: 1px solid black;
    margin: 0%;
    padding: 10px;
}
th{
    font-size: 20px;
}
.nothing{
    text-align: center;
}

.del-form{
    padding: 0%;
    margin: 0%;
    border-top: 1px solid gray;
}

div.cafe-property{
    padding: 1.1%;
}

div.cafe-property>p{
    display: inline-block;
    margin: 0%;
}
div > .prop-name{
    width: 48%;
    padding: 2px;
}
div > .prop-val{
    width: 48%;
    padding: 2px;
    text-align: right;
}